@{
    ViewBag.Title = "Prodigy Consulting - Software Products";
}

@section MetaDataContent{
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta name="description" content="TheProdigyConsulting.com - eInvoicing Solution" />
    <meta name="keywords" content="Paperless Invoice" />
    <meta name="author" content="Babu Govindarajan" />
}

<div class="row container">
    <h4 class="text-primary"><b> Online Invoicing Solution</b></h4>

    <p>
        Online invoicing solution that lets business owners create invoice using their company logo and
        custom templates. You can access the service from your smart phone and send invoice to your client by clicking few buttons in your smart phone.
        <br />
        <br />
        Please visit us at: <a href="http://www.invoiceprodigy.com//">Invoice Prodigy</a>
    </p>

</div>