@{
    ViewBag.Title = "Prodigy Consulting - Software Products";
}

@section MetaDataContent{
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta name="description" content="TheProdigyConsulting.com - Software Products" />
    <meta name="keywords" content="Software Development, IT Consulting, mobile application development" />
    <meta name="author" content="Babu Govindarajan" />
}

<div class="row container col-md-12">
    <h3 class="text-primary"><b>Solutions</b></h3>
    <p>
        Our below listed few well tested, proven Frameworks
        will enable us to implement reliable solutions at faster phase
    </p>
    <ol>
        <li>
            Online Payment Processing
        </li>
        <li>
            Online Invoicing Application
        </li>
        <li>
            Employee Time Management Application
        </li>
        <li>
            Project Tracking
        </li>
    </ol>

    <h3 class="text-primary" >Online Invoicing Solution</h3>

    <p>
        Online invoicing solution that lets business owners create invoice using their company logo and
        custom templates. You can access the service from your smart phone and send invoice to your client by clicking few buttons in your smart phone.
        <br />
        <br />
        Please visit us at: <a href="http://www.invoiceprodigy.com">Invoice Prodigy</a>
    </p>

    <h3 class="text-primary">Online Time Tracking Solution</h3>
    <p>
        Online Time Tracking Solution is an online service for recording timesheets.On completion of your timesheet can be submitted for approval
        or saved and submitted later for approval. Your can associated a project code to each timesheet entry to keep track for cost associated with
        each project.
        <br />
        Ability to export to Excel and PDF file.
        <br />
        Ability to Administar user, Enter timesheet and Approve Timesheet from your mobile phone.
        <br />
        <br />
        Please visit us at: <a href="http://www.timesheetprodigy.com">Timesheet Prodigy</a><br />
    </p>
</div>




