@{
    ViewBag.Title = "Prodigy Consulting - Software Products";
}

@section MetaDataContent{
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta name="description" content="TheProdigyConsulting.com - Software Products" />
    <meta name="keywords" content="Software Development, IT Consulting, mobile application development" />
    <meta name="author" content="Babu Govindarajan" />
}

<div class="row container">

</div>