<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://prodigy.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>prodigy.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>prodigy</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$prodigy</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:fvpowe4j16.database.windows.net,1433;Initial Catalog=TrainingProdigy;User ID=TrainingProdigy@fvpowe4j16;Password=Basket06Chess10;Encrypt=True" Name="Data Source=tcp:fvpowe4j16.database.windows.net,1433;Initial Catalog=TrainingProdigy;User ID=TrainingProdigy@fvpowe4j16;Password=Basket06Chess10;Encrypt=True;MultipleActiveResultSets=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="AmoghSystems.Models.ApplicationDbContext, AmoghSystems" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="TrainingContext" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:fvpowe4j16.database.windows.net,1433;Initial Catalog=TrainingProdigy;User ID=TrainingProdigy@fvpowe4j16;Password=Basket06Chess10;Encrypt=True" Name="Data Source=tcp:fvpowe4j16.database.windows.net,1433;Initial Catalog=TrainingProdigy;User ID=TrainingProdigy@fvpowe4j16;Password=Basket06Chess10;Encrypt=True;MultipleActiveResultSets=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataAccessLayer.TrainingContext, DataAccessLayer" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:fvpowe4j16.database.windows.net,1433;Initial Catalog=TrainingProdigy;User ID=TrainingProdigy@fvpowe4j16;Password=Basket06Chess10;Encrypt=True;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TrainingContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:fvpowe4j16.database.windows.net,1433;Initial Catalog=TrainingProdigy;User ID=TrainingProdigy@fvpowe4j16;Password=Basket06Chess10;Encrypt=True;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>