@using DataAccessLayer
@model AmoghSystems.Models.RegisterTrainingModel

@{
    ViewBag.Title = "Prodigy Consulting - Register for Training";
}

@section MetaDataContent{
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta name="description" content="TheProdigyConsulting.com - Software Products" />
    <meta name="keywords" content="Software Development, IT Consulting, mobile application development" />
    <meta name="author" content="Babu Govindarajan" />
}

<div class="row container" id="registerationHeading">
    <div class="col-12">
    
        <h5 class="text-primary"><b>Hello @ViewBag.StudentName </b>
<br/>
Thank you for Your interest on our training program.
                                     <br/>
<br/>
     Someone from our company will contact you. </h5>

    
    </div>

</div>
